# # コメント。これは無視されます
# *.a       # .a ファイルは無視
# !lib.a    # しかし、lib.a ファイルだけは .a であっても追跡対象とします
# /TODO     # ルートディレクトリの TODO ファイルだけを無視し、サブディレクトリの TODO は無視しません
# build/    # build/ ディレクトリのすべてのファイルを無視します
# doc/*.txt # doc/notes.txt は無視しますが、doc/server/arch.txt は無視しません

*.o
*.lo
*.la
*.al
.libs
*.so
*.pyc
*.pyo
*.rej
*.swp
.DS_Store
*.ncb
*.suo
*.sdf
#*.pdb
*.ilk
*.opensdf
*.bmc
*.aux
*.VC.db
*.ini
*.opendb
*.pptx

bmc/
vc_msw/
Debug/
Release/
Release(*)/
ipch/

*_ign
*_ign.*
*_ign/
.vs/
.vs/*

#*.lzh
#*.zip
#*.rar
UpgradeLog.xml
_UpgradeReport_Files
~$*



